extends layout

block content
  h1= titles
  
  p Welcome to #{titles}
  p This is content #{test}
  p This is a test !{JSON.stringify(test)}

  

  li #{JSON.stringify(event)}
  li #{user[0]}



  

 
  











  //p Calandar events #{test1}


